.contenedor-filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .contenedor-filtros input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  